<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Iteme Platform</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <div class="container">
        <div class="section-1">
            <div class="menu" style="align-items: center;">
                <div style="display: flex; align-items: center;">
                    <img src="../static/images/logob.png" style="width: 100px; transform: scale(1.4);">
                    <h1 class="header-logo">ITEME PLATFORM</h1>
                </div>
                <ul>
                    <li><a href="landing-page.html">Home</a></li>
                    <li><a href="projects.html#projects">Projects</a></li>
                    <li><a href="#ourTeam">Our Team</a></li>
                    <li><a href="landing-page.html#contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="sub-menu">
                <div class="web-description">
                    <div class="intro">
                        <h1>
                            Nurturing Your Mind, Empowering Your Future. Welcome to Iteme
                        </h1>
                        <p>
                            A safe space for open conversations, building resilience, and thriving together.
                        </p>
                    </div>
                    <div>
                        <button class="sign-btn">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-7" id="projects">
            <h1>ALX COMMUNITY #Ineedhelp initiative Launch</h1>
            <div class="item-container">
                <div class="item">
                    <h3>Interactive Awareness Sessions</h3>
                    <img src="../static/images/1.jpg" alt="Image description 1">
                    <img src="../static/images/2.jpg" alt="Image description 2">
                    <p>We conducted engaging sessions that shed light on common mental health challenges, not just
                        symptoms, but also providing practical coping mechanisms. Participants left equipped with
                        knowledge and tools for self-care, empowering them to manage their mental well-being in their
                        daily lives.</p>
                </div>
                <div class="item">
                    <h3>Expert-Led Support</h3>
                    <img src="../static/images/3.jpg" alt="Image description 3">
                    <!-- <img src="image4.jpg" alt="Image description 4"> -->
                    <p>
                        A qualified mental health nurse and therapist facilitated sessions,
                        providing valuable insights and guidance based on their experience.
                        They also offered personalized consultations for those seeking further
                        support, ensuring individual needs were addressed and a safe space was
                        created for open communication.
                    </p>
                </div>
                <div class="item">
                    <h3>Engaging Activities</h3>
                    <img src="../static/images/4.jpg" alt="Image description 5">
                    <img src="../static/images/5.jpg" alt="Image description 6">
                    <p>
                        Games and interactive workshops weren't just fun, they were strategically
                        designed to be informative. Participants learned about mental health in
                        a relaxed and engaging way, fostering a sense of community and reducing
                        the stigma often associated with mental health discussions.
                    </p>
                </div>
                <div class="item">
                    <h3>Piloting Our Platform</h3>
                    <img src="../static/images/6.jpg" alt="Image description 7">
                    <!-- <img src="image8.jpg" alt="Image description 8"> -->
                    <p>
                        The ALX community was the first to experience Iteme's user-friendly platform.
                        Their participation and feedback were invaluable. We're actively incorporating
                        their insights to refine the app and optimize the user experience,
                        ensuring it meets the specific needs of the Rwandan community.
                    </p>
                </div>
            </div>
        </div>

        <div class="section-6" id="ourTeam">
            <br>
            <h1>Our Team</h1><br>
            <div class="team">
                <div class="team-mate">
                    <div class="image">
                        <img src="../static/images/Boris.jpg" alt="Boris's profile image">
                    </div>
                    <p class="name">Ruganintwali Boris</p>
                    <p class="duty">COO, Bachelor in Aneasthetist and Data Scientist</p>
                </div>
                <div class="team-mate">
                    <div class="image">
                        <img src="../static/images/Kelvin.jpeg" alt="Kevin's profile image">
                    </div>
                    <p class="name">Rwihimba Kelvin</p>
                    <p class="duty">CEO, Software Engineer & Data Scientist</p>
                </div>
                <div class="team-mate">
                    <div class="image">
                        <img src="../static/images/christian.jpg" alt="christian's profile image">
                    </div>

                    <p class="name">Nguweneza Pierre Christian</p>
                    <p class="duty">CTO, Software Engineer</p>
                </div>
            </div>
        </div>
        <div class="section-5">
            <div class="footer-content">
                <p>Copyright &copy Iteme Platform</p>
            </div>
        </div>
    </div>
</body>

</html>