body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form-container {
    background-color: var(--form-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .dark-mode {
    --bg-color: #333;
    --text-color: #fff;
    --form-bg-color: #444;
  }
  
  #darkModeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loginForm a,
  #signupForm a {
    color: inherit;
  }
  
  /* #loginForm a:hover,
  #signupForm a:hover {
    color: #fff; /* Change link color to white on hover */
  /* } */ 
  
  @media screen and (max-width: 600px) {
    .container {
      max-width: 90%;
    }
  }
  